[submodule "git-modules/game-of-life"]
	path = git-modules/game-of-life
	url = https://github.com/Skrywerbeer/game-of-life
[submodule "git-modules/dragable-number"]
	path = git-modules/dragable-number
	url = https://github.com/Skrywerbeer/dragable-number
