@import url('./webcomponents.css');
@import url('./gallery.css');

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

@font-face {
	font-family: "Noto Sans Math";
	src: url("./assets/fonts/NotoSans/NotoSansMath-Regular.ttf");
}
/* You can add global styles to this file, and also import other style files */
* {
	/* ---------------------------------------- */
	/* gradients */
	/* ---------------------------------------- */
	--gradientStop1: #1c2c69;
	--gradientStop2: #571d24;
	--backgroundGradient: linear-gradient(45deg,
								var(--gradientStop1),
								var(--gradientStop2));
	
	/* ---------------------------------------- */
	/* colors  */
	/* ---------------------------------------- */
	--borderStroke: #2e2e2e;
	--borderThin: var(--borderStroke) solid 4px;
	--borderThick: var(--borderStroke) solid 8px;
	--borderThinRadius: 8px;
	--borderThickRadius: 16px;
	--activeFill: #eedacc;
	--activeText: black;
	--inactiveFill: #1d130c;
	--inactiveText: white;
	
	/* ---------------------------------------- */
	/* fonts */
	/* ---------------------------------------- */
	--navFont: monospace;
	--navPtSize: 16pt;

	/* ---------------------------------------- */
	/* paddings */
	/* ---------------------------------------- */
	--navPadding: 0.25em 2em;
	--contentViewPadding: 2% 10% 5% 5%;

	/* ---------------------------------------- */
	/* margins */
	/* ---------------------------------------- */
	--navMargin: 0.5em 0 0 0;
	--contentViewMargin: 0 0 0 5vw;
	--fragmentViewMargin: 0 2vw 0 0;

	/* ---------------------------------------- */
	/* transitions */
	/* ---------------------------------------- */
	--shortDuration: 500ms;
	--medDuration: 800ms;
	--longDuration: 1s;
	/* ######################################## */
}

body {
	margin: 0;
	padding: 0;
	background: fixed no-repeat var(--backgroundGradient);
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	nav {
		ul {
			padding: 1vh 1vw;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			gap: 1vw;
			list-style: none inside;
			
			li {
				display: flex;
				padding: 0 1em;
				border: var(--borderThin);
				background: var(--inactiveFill);

				transition: background 400ms;
			}

			li a {
				flex-grow: 1;
				line-height: 3;
				color: var(--inactiveText);
				text-decoration: none;
				text-align: center;
				font-family: monospace;
				font-size: 1.2em;

				transition: color 400ms;
			}

			li:hover {
				background: var(--activeFill);
			}

			li:hover a {
				color: var(--activeText);
			}
		}
	}
}

main {
	border: var(--borderThick);
	border-radius: var(--borderThickRadius);
	/* background: var(--activeFill); */
	background: lemonchiffon;
	margin-left: 5vw;
	margin-right: 30vw;

	font-family: "Exo 2";
	font-size: 14pt;
}
@media screen and (max-width: 800px) {
	main {
		margin-left: 0vw;
		margin-right: 0vw;
		border-left: none;
		font-size: 12pt;
	}
}

section {
	
}

section object {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

h1 {
	text-align: center;
}
h1::first-letter {
	font-size: 1.5em;
	font-family: serif;
}

h2 {
	margin-left: 4%;
}

h3 {
	margin-left: 4%;
}

p {
	margin-right: 3%;
	margin-left: 5%;
}

math {
	font-family: "Noto Sans Math";
	math-style: compact;
}

math[display="block"] {

	margin-top: 0.5em;
	margin-bottom: 1em;
	font-size: 1.2em;
	math-style: normal;
}

div.graphLayout {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

svg.graph {
	aspect-ratio: 1 / 1;
	/* border: 2px solid #333333; */
	/* border-bottom: 4px solid #111111; */
	background: linear-gradient(to bottom right, #0a0a22, #050505);

}

code {
	background: lightgray;
}

dt {
	font-size: 1.2em;
	margin: 1em;
	margin-left: 5%;
}

dd {
	margin-right: 3%;
	margin-left: 8%;
}

ul {
	margin-left: 2%;
}

li {
	margin-left: 4%;
}
main {
a {
	color: black;
	padding-left: 0.2em;
	border-left: var(--borderThin);
	transition:
		background-color 400ms;
}
a:hover {
	outline: var(--borderThin);
	background-color: var(--inactiveFill);
	color: var(--inactiveText);
}
}
section h2 + img {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

hr {
	margin: 1% 10%;
}

button {
	margin-top: 1em;
	width: 10%;
	background-color: var(--inactiveFill);
	color: var(--inactiveText);
	border-radius: 8px;
	font-family: monospace;
	transition:
		background-color 400ms,
		color 400ms
	;
}

button:hover {
	background-color: var(--activeFill);
	color: var(--activeText);
}

iframe {
	margin: 5% 10%;
	width: 80%;
	min-height: 50vh;
}

