@import url('./webcomponents.css');
@import url('./gallery.css');
/* You can add global styles to this file, and also import other style files */
* {
	/* ---------------------------------------- */
	/* gradients */
	/* ---------------------------------------- */
	--gradientStop1: #1c2c69;
	--gradientStop2: #571d24;
	--backgroundGradient: linear-gradient(45deg,
								var(--gradientStop1),
								var(--gradientStop2));
	
	/* ---------------------------------------- */
	/* colors  */
	/* ---------------------------------------- */
	--borderStroke: #2e2e2e;
	--borderThin: var(--borderStroke) solid 4px;
	--borderThick: var(--borderStroke) solid 8px;
	--borderThinRadius: 8px;
	--borderThickRadius: 16px;
	--activeFill: #eedacc;
	--activeText: black;
	--inactiveFill: #1d130c;
	--inactiveText: white;
	
	/* ---------------------------------------- */
	/* fonts */
	/* ---------------------------------------- */
	--navFont: monospace;
	--navPtSize: 16pt;

	/* ---------------------------------------- */
	/* paddings */
	/* ---------------------------------------- */
	--navPadding: 0.25em 2em;
	--contentViewPadding: 2% 10% 5% 5%;

	/* ---------------------------------------- */
	/* margins */
	/* ---------------------------------------- */
	--navMargin: 0.5em 0 0 0;
	--contentViewMargin: 0 0 0 5vw;
	--fragmentViewMargin: 0 2vw 0 0;

	/* ---------------------------------------- */
	/* transitions */
	/* ---------------------------------------- */
	--shortDuration: 500ms;
	--medDuration: 800ms;
	--longDuration: 1s;
	/* ######################################## */
}

body {
	margin: 0;
	padding: 0;
	background: fixed no-repeat var(--backgroundGradient);
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

main {
	border: var(--borderThick);
	border-radius: var(--borderThickRadius);
	/* background: var(--activeFill); */
	background: lemonchiffon;
	margin-left: 5vw;
	margin-right: 30vw;

	font-family: monospace;
	font-size: 12pt;
}
@media screen and (max-width: 800px) {
	main {
		margin-left: 0vw;
		margin-right: 0vw;
		border-left: none;
		font-size: 12pt;
	}
}

section {
	
}

section object {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

h1 {
	text-align: center;
}
h1::first-letter {
	font-size: 1.5em;
	font-family: serif;
}

h2 {
	margin-left: 4%;
}

h3 {
	margin-left: 4%;
}

p {
	margin-right: 3%;
	margin-left: 5%;
}

math {
	margin-left: 8%;

;
}

code {
	background: lightgray;
}

dt {
	font-size: 1.2em;
	margin: 1em;
	margin-left: 5%;
}

dd {
	margin-right: 3%;
	margin-left: 8%;
}

ul {
	margin-left: 2%;
}

li {
	margin-left: 4%;
}

a {
	color: black;
	padding-left: 0.2em;
	border-left: var(--borderThin);
	transition:
		background-color 400ms;
}
a:hover {
	outline: var(--borderThin);
	background-color: var(--inactiveFill);
	color: var(--inactiveText);
}

section h2 + img {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

hr {
	margin: 1% 10%;
}

button {
	margin-top: 1em;
	width: 10%;
	background-color: var(--inactiveFill);
	color: var(--inactiveText);
	border-radius: 8px;
	font-family: monospace;
	transition:
		background-color 400ms,
		color 400ms
	;
}

button:hover {
	background-color: var(--activeFill);
	color: var(--activeText);
}

iframe {
	margin: 5% 10%;
	width: 80%;
	min-height: 50vh;
}

