game-of-life {
	width: 200px;
	height: 200px;
	display: block;
	margin-left: 10%;
}
game-of-life::part(cell) {

}

game-of-life::part(living) {
	background-color: orchid;
}

game-of-life::part(deceased) {
	background-color: slategray;
}
