game-of-life {
	width: 30%;
	display: block;
	margin-left: 20%;
}
game-of-life::part(cell) {

}

game-of-life::part(living) {
	background-color: orchid;
}

game-of-life::part(deceased) {
	background-color: slategray;
}
#gameOfLifeControls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10%;
}

strong {
	font-size: 20pt;
}

dragable-number {

}

dragable-number[state="inRange"] {
	border-right: slategray solid 2px;
}

dragable-number[state="minClamped"] {
	border-bottom: crimson solid 2px;
}

dragable-number[state="maxClamped"] {
	border-top: crimson solid 2px;
}

spark- {font-size: 2em;}
spark-::part(even) {fill: royalblue;}
spark-::part(odd) {fill: dodgerblue;}
spark-::part(element):hover {fill: crimson;}
