* {
	padding: 0;
}

ul {
	padding: 1vh 1vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1vw;
	list-style: none inside;
}

li {
	display: flex;
	padding: 0 1em;
	border: var(--borderThin);
	background: var(--inactiveFill);

	transition: background 400ms;
}

li a {
	flex-grow: 1;
	line-height: 3;
	color: var(--inactiveText);
	text-decoration: none;
	text-align: center;
	font-family: monospace;
	font-size: 1.2em;

	transition: color 400ms;
}

li:hover {
	background: var(--activeFill);
}

li:hover a {
	color: var(--activeText);
}
